PORT=5001
JWT_SECRET=your-secret-key-here
ENCRYPTION_KEY=your-encryption-key-here
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/apartment-auth
FRONTEND_URL=http://localhost:5173
